.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
*.vsix
node_modules/**
.DS_Store
*.log
.git/**
.github/**
.eslintrc.json
.prettierrc
.prettierignore
yarn.lock
package-lock.json